form(action='/upload' enctype='multipart/form-data' method='post')
    input(type='text' name='username' placeholder='User name')
    input(type='text' name='title' placeholder='title')
    input(type='file' name='uploads' multiple='multiple')
    button(type='submit') Load